<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, minimum-scale=1, user-scalable=no" />
<link rel="shortcut icon" href="{{appRoot}}/images/favicon.ico" type="image/vnd.microsoft.icon" />
<meta charset="utf-8">
<title>{{title}} | {{appName}}</title>
<!-- Set the base URL for all relative URLs within the document -->
<base href="{{appRoot}}">
<meta name="generator" content="Hephaestus">
{{{css}}}

<!--[if IE 8]>
  <link type="text/css" rel="stylesheet" href="{{appRoot}}/css/ie8.css" media="all" />
<![endif]-->

<!--[if IE 7]>
  <link type="text/css" rel="stylesheet" href="{{appRoot}}/css/ie7.css" media="all" />
<![endif]-->

<!--[if (lt IE 9)&(!IEMobile)]>
  <style type="text/css" media="all">
  @import url("{{appRoot}}/css/rosie-html5-alpha-default-normal.css");
  @import url("{{appRoot}}/css/alpha-default-normal-12.css");
  </style>
<![endif]-->

<!--[if gte IE 9]><!-->
  <style type="text/css" media="all and (min-width: 740px) and (min-device-width: 740px), (max-device-width: 800px) and (min-width: 740px) and (orientation:landscape)">
    @import url("{{appRoot}}/css/rosie-html5-alpha-default-narrow.css");
    @import url("{{appRoot}}/css/alpha-default-narrow-12.css");
  </style>
<!--<![endif]-->

<!--[if gte IE 9]><!-->
  <style type="text/css" media="all and (min-width: 980px) and (min-device-width: 980px), all and (max-device-width: 1024px) and (min-width: 1024px) and (orientation:landscape)">    
    @import url("{{appRoot}}/css/rosie-html5-alpha-default-normal.css");
    @import url("{{appRoot}}/css/alpha-default-normal-12.css");
</style>
<!--<![endif]-->

<!--[if gte IE 9]><!-->
  <style type="text/css" media="all and (min-width: 1280px)">    
    @import url("{{appRoot}}/css/rosie-html5-alpha-default-wide.css");
    @import url("{{appRoot}}/css/alpha-default-wide-12.css");
  </style>
<!--<![endif]-->
